{% extends 'base.html' %}

{% block content %}
<div class='row'>
    <div class='col-sm-6'>
        <h1>Search</h1>
        {% for biz in results.businesses %}
        {{ biz.name }}, {{ biz.location.city }}<br/>
        {% endfor %}
    </div>
    <div class='col-sm-6'>
        <h3>Google maps presentation</h3>
        <div id='map' class="gmap"></div>
    </div>
</div>    



<script>
    function initMap(){
        var location = {lat:28.535 ,lng:77.391}
        var map = new google.maps.Map(document.getElementById('map'),{
            zoom: 4,
            center: location,
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }
</script>



{% endblock %}