{% extends 'base.html' %}

{% block content %}
<div class='row'>
    <div class='col-sm-6'>
        <h1>Search</h1>
        {% for biz in results.businesses %}
        {{ biz.name }}, {{ biz.location.city }}<br/>
        {% endfor %}
    </div>
    <div class='col-sm-6'>
        <h3>Google maps presentation</h3>
        <div id='map' class="gmap"></div>
    </div>
</div>    



<script>
    
    var biz_locations = [
        {% for biz in results.businesses %}
            {
                lat: {{ biz.coordinates.latitude }},
                lng: {{ biz.coordinates.longitude }},
                name: "{{ biz.name }}",
                address:"{{ biz.location.display_address.0 }} {{ biz.location.display_address.1 }}"
            },
        {% endfor %}
    ]
    
    var map;
    var markers = [];
    var infoWindow;


    function initMap(){
        var map_location = {lat: {{ results.businesses.0.coordinates.latitude }} ,lng: {{ results.businesses.0.coordinates.longitude }}}
        map = new google.maps.Map(document.getElementById('map'),{
            zoom: 12,
            center: map_location,
        });

        infoWindow  = new google.maps.InfoWindow()

        function createMarker(latlng, name, address){
            var html = "<b>" + name + "</b><br/>" + address
            var marker  = new google.maps.Marker({
                position: latlng,
                map: map
            });
            google.maps.event.addListener(marker, 'click', function(){
                infoWindow.setContent(html)
                infoWindow.open(map, marker)
            })
            return marker;
        }
        //var marker = new google.maps.Marker({
          //  position: map_location,
            //map: map
        //});
        if (biz_locations.length > 0){
            for(var i = 0; i  < biz_locations.length; i++){
                var obj = biz_locations[i]
                var latlng = {lat: obj.lat, lng: obj.lng}
                var marker = createMarker(latlng, obj.name, obj.address)
                markers.push(marker)
            }
        }

        function clearLocations(){
            infoWindow.close()
            for(var i = 0; i < markers.length; i++){
                markers[i].setMap(null)
            }
            markers.length = 0
        }
    

    }
</script>



{% endblock %}